body{
    background-color: #D81B60;
  }
  p{
  text-align:center;
  }
  h1{
    text-align:center;
  }
  h2{
    text-align:center;
  }
  ad{
    text-align:center;
  }
  h1{
      color : #FF9100
  }
  h3{
      color: #FFFF8D
  }